<div class="event-details" *ngIf="event">
  <div class="hero-image" [style.backgroundImage]="'url(' + event.image + ')'">
    <div class="overlay">
      <h1 class="title">{{ event.name }}</h1>
      <p class="date">{{ event.eventDate | date:'fullDate' }}</p>
    </div>
  </div>

  <div class="event-info">
    <p class="description">{{ event.description }}</p>
    <p class="ubicacion">{{ event.venue.city }}</p>

    <!-- Botones rockeros -->
    <!-- Usuario NO LOGUEADO: Sin botones -->

            @if(!isLoggedIn){
            <div  class="text-muted small">
              <i class="fas fa-info-circle me-1"></i>Inicia sesión para comprar entradas
            </div>
              }
            <!-- Usuario VIP: Botón Reservar + Comprar -->
             
                      @if (canReserve) {
              <button (click)="reserve()" class="reserve-btn">Reservar VIP</button>
            }

            @if (canBuy && canReserve) {
              <button (click)="buy()" class="buy-btn">Comprar</button>
}

            <!-- Usuario NORMAL: Solo Comprar -->
                    @if (canBuy && !canReserve) {
              <button (click)="buy()" class="buy-btn">Comprar</button>}
  </div>
</div>
