<div *ngIf="venue" class="p-6 bg-white rounded-2xl shadow-md max-w-2xl mx-auto">
    <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ venue.name }}
    <!-- <a [routerLink]="['/venues', venue.id]" class="text-blue-600 hover:underline">
      {{ venue.name }}
    </a> -->
  </h2>
  <p class="text-gray-600 mb-4">{{ venue.description }}</p>

  <p><strong>Dirección:</strong> {{ venue.address }}, {{ venue.city }} ({{ venue.country }})</p>
  <p><strong>Capacidad:</strong> {{ venue.capacity }}</p>
  <p><strong>Estado:</strong> {{ venue.isActive ? 'Activo ✅' : 'Inactivo ❌' }}</p>

  <div class="flex flex-wrap gap-2 mt-4">
    <span *ngFor="let amenity of venue.amenities"
      class="px-3 py-1 bg-gray-100 rounded-full text-xs text-gray-700 border border-gray-300">
      {{ amenity }}
    </span>
  </div>
</div>
