<div class="search-bar d-flex position-relative">
  <input 
    type="text" 
    [formControl]="searchControl" 
    class="form-control" 
    placeholder="Buscar eventos..."
    (keyup.enter)="onSearch(searchControl.value || ''); hideSuggestions()"
    (blur)="hideSuggestions()"
    (focus)="searchControl.value && searchControl.value.length >= 3 ? showSuggestions = true : null"
  />
  <button 
    type="button"
    class="btn btn-primary ms-2"
    (click)="onSearch(searchControl.value || '')"
  >
    Buscar
  </button>

  <!-- Sugerencias -->
  <ul *ngIf="showSuggestions && (suggestions$ | async) as suggestions" 
      class="suggestions list-group position-absolute w-100" 
      style="top: 100%; left: 0; margin-top: 2px; z-index: 1000;">
    <li 
      *ngFor="let suggestion of suggestions" 
      class="list-group-item list-group-item-action"
      (mousedown)="selectSuggestion(suggestion)"
      style="cursor: pointer;"
    >
      {{ suggestion }}
    </li>
  </ul>
</div>
