# Environment
.env              # <-- Esto evita que se suba a Git
**/.env          # <-- Esto evita que se suban archivos .env en subcarpetas
.env.local
**/.env.local
*.local

# Dependencies
node_modules/
package-lock.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker/data/