--
-- PostgreSQL database dump
--

\restrict hih9m9UlvGZy91AykQWq5WvByV6kXf3sOYsqJehguRq0EHMOMdqHdDflb8fIRX8

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE ticketing;
--
-- Name: ticketing; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE ticketing WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE ticketing OWNER TO admin;

\unrestrict hih9m9UlvGZy91AykQWq5WvByV6kXf3sOYsqJehguRq0EHMOMdqHdDflb8fIRX8
\connect ticketing
\restrict hih9m9UlvGZy91AykQWq5WvByV6kXf3sOYsqJehguRq0EHMOMdqHdDflb8fIRX8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: EventStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."EventStatus" AS ENUM (
    'DRAFT',
    'ACTIVE',
    'SOLD_OUT',
    'CANCELLED',
    'COMPLETED',
    'SUSPENDED'
);


ALTER TYPE public."EventStatus" OWNER TO admin;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."OrderStatus" OWNER TO admin;

--
-- Name: ReservationStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."ReservationStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED',
    'EXPIRED',
    'CANCELLED'
);


ALTER TYPE public."ReservationStatus" OWNER TO admin;

--
-- Name: TicketStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TicketStatus" AS ENUM (
    'VALID',
    'USED',
    'CANCELLED',
    'EXPIRED'
);


ALTER TYPE public."TicketStatus" OWNER TO admin;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'MANAGER',
    'VIEWER'
);


ALTER TYPE public."UserRole" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "tableName" text NOT NULL,
    "recordId" text NOT NULL,
    action text NOT NULL,
    "fieldName" text,
    "oldValue" jsonb,
    "newValue" jsonb,
    "adminId" text NOT NULL,
    "eventId" text,
    "ipAddress" text,
    "userAgent" text,
    "sessionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO admin;

--
-- Name: Event; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Event" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    slug text NOT NULL,
    status public."EventStatus" DEFAULT 'DRAFT'::public."EventStatus" NOT NULL,
    "eventDate" timestamp(3) without time zone NOT NULL,
    "doorsOpenTime" timestamp(3) without time zone,
    "saleStartDate" timestamp(3) without time zone NOT NULL,
    "saleEndDate" timestamp(3) without time zone NOT NULL,
    "venueId" text NOT NULL,
    "totalCapacity" integer NOT NULL,
    "availableTickets" integer NOT NULL,
    "reservedTickets" integer DEFAULT 0 NOT NULL,
    "soldTickets" integer DEFAULT 0 NOT NULL,
    tags text[],
    "bannerImage" text,
    "thumbnailImage" text,
    images text[],
    "minPrice" numeric(10,2) NOT NULL,
    "maxPrice" numeric(10,2) NOT NULL,
    "ageRestriction" text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "cancelledAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    metadata jsonb,
    category_id integer NOT NULL,
    subcategory_id integer
);


ALTER TABLE public."Event" OWNER TO admin;

--
-- Name: EventCategory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."EventCategory" (
    id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    images text[] DEFAULT '{}'::text[]
);


ALTER TABLE public."EventCategory" OWNER TO admin;

--
-- Name: EventCategory_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."EventCategory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."EventCategory_id_seq" OWNER TO admin;

--
-- Name: EventCategory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."EventCategory_id_seq" OWNED BY public."EventCategory".id;


--
-- Name: EventLocality; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."EventLocality" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    name text NOT NULL,
    description text,
    capacity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    "availableTickets" integer NOT NULL,
    "soldTickets" integer DEFAULT 0 NOT NULL,
    "reservedTickets" integer DEFAULT 0 NOT NULL,
    color text,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EventLocality" OWNER TO admin;

--
-- Name: EventSubcategory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."EventSubcategory" (
    id integer NOT NULL,
    category_id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    images text[] DEFAULT '{}'::text[]
);


ALTER TABLE public."EventSubcategory" OWNER TO admin;

--
-- Name: EventSubcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."EventSubcategory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."EventSubcategory_id_seq" OWNER TO admin;

--
-- Name: EventSubcategory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."EventSubcategory_id_seq" OWNED BY public."EventSubcategory".id;


--
-- Name: Order; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "eventId" text NOT NULL,
    "localityId" text NOT NULL,
    quantity integer NOT NULL,
    "totalAmount" numeric(10,2) NOT NULL,
    discount numeric(10,2) DEFAULT 0 NOT NULL,
    "finalAmount" numeric(10,2) NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "stripeSessionId" text,
    "stripePaymentId" text,
    "reservationId" text,
    "userEmail" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone
);


ALTER TABLE public."Order" OWNER TO admin;

--
-- Name: PriceCategory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."PriceCategory" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    "totalTickets" integer NOT NULL,
    "availableTickets" integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    capacity integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    metadata jsonb,
    "sectionId" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PriceCategory" OWNER TO admin;

--
-- Name: Reservation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Reservation" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "eventId" text NOT NULL,
    "localityId" text NOT NULL,
    quantity integer NOT NULL,
    status public."ReservationStatus" DEFAULT 'ACTIVE'::public."ReservationStatus" NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Reservation" OWNER TO admin;

--
-- Name: Ticket; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Ticket" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "eventId" text NOT NULL,
    "localityId" text NOT NULL,
    "userId" text NOT NULL,
    "ticketCode" text NOT NULL,
    "qrCode" text,
    status public."TicketStatus" DEFAULT 'VALID'::public."TicketStatus" NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Ticket" OWNER TO admin;

--
-- Name: Venue; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Venue" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    capacity integer NOT NULL,
    address text NOT NULL,
    city text NOT NULL,
    state text,
    country text DEFAULT 'Espa??a'::text NOT NULL,
    "postalCode" text NOT NULL,
    latitude double precision,
    longitude double precision,
    description text,
    amenities text[],
    images text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "createdById" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Venue" OWNER TO admin;

--
-- Name: VenueSection; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."VenueSection" (
    id text NOT NULL,
    "venueId" text NOT NULL,
    name text NOT NULL,
    capacity integer NOT NULL,
    "rowCount" integer,
    "seatsPerRow" integer
);


ALTER TABLE public."VenueSection" OWNER TO admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.admins (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    role public."UserRole" DEFAULT 'ADMIN'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLogin" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.admins OWNER TO admin;

--
-- Name: EventCategory id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventCategory" ALTER COLUMN id SET DEFAULT nextval('public."EventCategory_id_seq"'::regclass);


--
-- Name: EventSubcategory id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventSubcategory" ALTER COLUMN id SET DEFAULT nextval('public."EventSubcategory_id_seq"'::regclass);


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."AuditLog" (id, "tableName", "recordId", action, "fieldName", "oldValue", "newValue", "adminId", "eventId", "ipAddress", "userAgent", "sessionId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: EventCategory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."EventCategory" (id, name, slug, images) FROM stdin;
1	Rock	rock	{}
2	Metal	metal	{}
\.


--
-- Data for Name: EventLocality; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: EventSubcategory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."EventSubcategory" (id, category_id, name, slug, images) FROM stdin;
1	1	Classic Rock	classic-rock	{}
2	1	Alternative Rock	alternative-rock	{}
3	1	Indie Rock	indie-rock	{}
4	1	Punk Rock	punk-rock	{}
5	1	Hard Rock	hard-rock	{}
6	2	Heavy Metal	heavy-metal	{}
7	2	Thrash Metal	thrash-metal	{}
8	2	Death Metal	death-metal	{}
9	2	Black Metal	black-metal	{}
10	2	Power Metal	power-metal	{}
11	2	Symphonic Metal	symphonic-metal	{}
12	2	Doom Metal	doom-metal	{}
13	2	Progressive Metal	progressive-metal	{}
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Order" (id, "userId", "eventId", "localityId", quantity, "totalAmount", discount, "finalAmount", status, "stripeSessionId", "stripePaymentId", "reservationId", "userEmail", "createdAt", "updatedAt", "paidAt") FROM stdin;
\.


--
-- Data for Name: PriceCategory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."PriceCategory" (id, "eventId", name, description, price, "totalTickets", "availableTickets", "isActive", capacity, "createdAt", metadata, "sectionId", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Reservation; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Reservation" (id, "userId", "eventId", "localityId", quantity, status, "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Ticket; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Ticket" (id, "orderId", "eventId", "localityId", "userId", "ticketCode", "qrCode", status, "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Venue; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: VenueSection; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
cb808f65-6356-426e-9b25-3feab51e08c7	0cebc5e03fc37b6bd44e572132fc8eb7a490220fa1691b55320fdbfefc7ab964	2025-09-26 16:41:22.071688+00	20250926164121_init	\N	\N	2025-09-26 16:41:21.987983+00	1
1c982ab0-0781-4394-b9be-2e956a5b6177	c50c639dc1a9b9079f194a1fd3d77080832bb6da27a123aa663620c11ff76830	2025-09-26 17:39:04.533668+00	20250926173904_add_rock_metal_fields	\N	\N	2025-09-26 17:39:04.525378+00	1
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: EventCategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."EventCategory_id_seq"', 2, true);


--
-- Name: EventSubcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."EventSubcategory_id_seq"', 13, true);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: EventCategory EventCategory_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventCategory"
    ADD CONSTRAINT "EventCategory_name_key" UNIQUE (name);


--
-- Name: EventCategory EventCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventCategory"
    ADD CONSTRAINT "EventCategory_pkey" PRIMARY KEY (id);


--
-- Name: EventCategory EventCategory_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventCategory"
    ADD CONSTRAINT "EventCategory_slug_key" UNIQUE (slug);


--
-- Name: EventLocality EventLocality_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventLocality"
    ADD CONSTRAINT "EventLocality_pkey" PRIMARY KEY (id);


--
-- Name: EventSubcategory EventSubcategory_category_id_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventSubcategory"
    ADD CONSTRAINT "EventSubcategory_category_id_name_key" UNIQUE (category_id, name);


--
-- Name: EventSubcategory EventSubcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventSubcategory"
    ADD CONSTRAINT "EventSubcategory_pkey" PRIMARY KEY (id);


--
-- Name: EventSubcategory EventSubcategory_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventSubcategory"
    ADD CONSTRAINT "EventSubcategory_slug_key" UNIQUE (slug);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: PriceCategory PriceCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PriceCategory"
    ADD CONSTRAINT "PriceCategory_pkey" PRIMARY KEY (id);


--
-- Name: Reservation Reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_pkey" PRIMARY KEY (id);


--
-- Name: Ticket Ticket_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_pkey" PRIMARY KEY (id);


--
-- Name: VenueSection VenueSection_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."VenueSection"
    ADD CONSTRAINT "VenueSection_pkey" PRIMARY KEY (id);


--
-- Name: Venue Venue_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venue"
    ADD CONSTRAINT "Venue_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: AuditLog_adminId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "AuditLog_adminId_idx" ON public."AuditLog" USING btree ("adminId");


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_tableName_recordId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "AuditLog_tableName_recordId_idx" ON public."AuditLog" USING btree ("tableName", "recordId");


--
-- Name: EventCategory_slug_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "EventCategory_slug_idx" ON public."EventCategory" USING btree (slug);


--
-- Name: EventLocality_eventId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "EventLocality_eventId_idx" ON public."EventLocality" USING btree ("eventId");


--
-- Name: EventLocality_eventId_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "EventLocality_eventId_name_key" ON public."EventLocality" USING btree ("eventId", name);


--
-- Name: EventLocality_isActive_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "EventLocality_isActive_idx" ON public."EventLocality" USING btree ("isActive");


--
-- Name: EventSubcategory_slug_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "EventSubcategory_slug_idx" ON public."EventSubcategory" USING btree (slug);


--
-- Name: Event_eventDate_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Event_eventDate_idx" ON public."Event" USING btree ("eventDate");


--
-- Name: Event_slug_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Event_slug_idx" ON public."Event" USING btree (slug);


--
-- Name: Event_slug_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Event_slug_key" ON public."Event" USING btree (slug);


--
-- Name: Event_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Event_status_idx" ON public."Event" USING btree (status);


--
-- Name: Order_eventId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_eventId_idx" ON public."Order" USING btree ("eventId");


--
-- Name: Order_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_status_idx" ON public."Order" USING btree (status);


--
-- Name: Order_stripeSessionId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_stripeSessionId_idx" ON public."Order" USING btree ("stripeSessionId");


--
-- Name: Order_stripeSessionId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Order_stripeSessionId_key" ON public."Order" USING btree ("stripeSessionId");


--
-- Name: Order_userId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_userId_idx" ON public."Order" USING btree ("userId");


--
-- Name: PriceCategory_eventId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "PriceCategory_eventId_idx" ON public."PriceCategory" USING btree ("eventId");


--
-- Name: PriceCategory_eventId_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "PriceCategory_eventId_name_key" ON public."PriceCategory" USING btree ("eventId", name);


--
-- Name: Reservation_eventId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Reservation_eventId_idx" ON public."Reservation" USING btree ("eventId");


--
-- Name: Reservation_expiresAt_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Reservation_expiresAt_idx" ON public."Reservation" USING btree ("expiresAt");


--
-- Name: Reservation_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Reservation_status_idx" ON public."Reservation" USING btree (status);


--
-- Name: Reservation_userId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Reservation_userId_idx" ON public."Reservation" USING btree ("userId");


--
-- Name: Ticket_orderId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Ticket_orderId_idx" ON public."Ticket" USING btree ("orderId");


--
-- Name: Ticket_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Ticket_status_idx" ON public."Ticket" USING btree (status);


--
-- Name: Ticket_ticketCode_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Ticket_ticketCode_idx" ON public."Ticket" USING btree ("ticketCode");


--
-- Name: Ticket_ticketCode_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Ticket_ticketCode_key" ON public."Ticket" USING btree ("ticketCode");


--
-- Name: Ticket_userId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Ticket_userId_idx" ON public."Ticket" USING btree ("userId");


--
-- Name: VenueSection_venueId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "VenueSection_venueId_idx" ON public."VenueSection" USING btree ("venueId");


--
-- Name: VenueSection_venueId_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "VenueSection_venueId_name_key" ON public."VenueSection" USING btree ("venueId", name);


--
-- Name: Venue_city_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Venue_city_idx" ON public."Venue" USING btree (city);


--
-- Name: Venue_slug_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Venue_slug_idx" ON public."Venue" USING btree (slug);


--
-- Name: Venue_slug_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Venue_slug_key" ON public."Venue" USING btree (slug);


--
-- Name: admins_email_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX admins_email_idx ON public.admins USING btree (email);


--
-- Name: admins_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX admins_email_key ON public.admins USING btree (email);


--
-- Name: AuditLog AuditLog_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public.admins(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AuditLog AuditLog_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EventLocality EventLocality_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventLocality"
    ADD CONSTRAINT "EventLocality_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EventSubcategory EventSubcategory_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EventSubcategory"
    ADD CONSTRAINT "EventSubcategory_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public."EventCategory"(id) ON DELETE CASCADE;


--
-- Name: Event Event_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.admins(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_venueId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_venueId_fkey" FOREIGN KEY ("venueId") REFERENCES public."Venue"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_localityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_localityId_fkey" FOREIGN KEY ("localityId") REFERENCES public."EventLocality"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_reservationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_reservationId_fkey" FOREIGN KEY ("reservationId") REFERENCES public."Reservation"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PriceCategory PriceCategory_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PriceCategory"
    ADD CONSTRAINT "PriceCategory_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PriceCategory PriceCategory_sectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PriceCategory"
    ADD CONSTRAINT "PriceCategory_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES public."VenueSection"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Reservation Reservation_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Reservation Reservation_localityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_localityId_fkey" FOREIGN KEY ("localityId") REFERENCES public."EventLocality"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Ticket Ticket_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Ticket Ticket_localityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_localityId_fkey" FOREIGN KEY ("localityId") REFERENCES public."EventLocality"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Ticket Ticket_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: VenueSection VenueSection_venueId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."VenueSection"
    ADD CONSTRAINT "VenueSection_venueId_fkey" FOREIGN KEY ("venueId") REFERENCES public."Venue"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Venue Venue_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venue"
    ADD CONSTRAINT "Venue_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.admins(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Event fk_event_category; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT fk_event_category FOREIGN KEY (category_id) REFERENCES public."EventCategory"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event fk_event_subcategory; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT fk_event_subcategory FOREIGN KEY (subcategory_id) REFERENCES public."EventSubcategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict hih9m9UlvGZy91AykQWq5WvByV6kXf3sOYsqJehguRq0EHMOMdqHdDflb8fIRX8

