<!-- <ngb-carousel *ngIf="page === 'home' || page === 'details'" class="carousel slide">
  <ng-template ngbSlide *ngFor="let item of (page === 'home' ? categories : event_details)">
    <div class="picsum-img-wrapper contenedor">
      <img 
        class="img_carousel d-block w-100" 
        [src]="page === 'home' ? item.image : '../../../' + item" 
        [alt]="page === 'home' ? item.category_name : 'event_details'" 
      />
      <div *ngIf="page === 'home'" class="carousel-caption d-none d-md-block">
        <h3>{{item.category_name}}</h3>
        <a [routerLink]="['/shop/categories/', item.slug]" class="text-primary">Ver más</a>
      </div>
    </div>
  </ng-template>
</ngb-carousel> -->

