@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.filters-row {
  font-family: 'Metal Mania', cursive;

  display: flex;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap; /* permite que salte de línea en pantallas pequeñas */
}

.filters-row div {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}

.filters-row label {
  font-size: 1,2rem;
  margin-bottom: 4px;
  color: #333;
}

.filters-row input,
.filters-row select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 120px;
}

.filters-row button {
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
}

.filters-row button:hover {
  background-color: #0056b3;
}
